<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.nucleos.npc.example">

    <!-- Standard permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!-- Signature-only permissions -->
    <permission android:name="io.nucleos.npc.example.permission.LAYER_PUSH"
        android:protectionLevel="signature"/>
    <uses-permission android:name="io.nucleos.npc.example.permission.LAYER_PUSH"/>
    <permission android:name="com.myapp.package.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="io.nucleos.npc.example.permission.C2D_MESSAGE"/>
    <!-- LayerClient.sendLogs() permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Your custom "com.layer.sdk.PUSH" notification Receiver -->
        <receiver android:name=".receiver.LayerPushReceiver">
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH"/>
                <category android:name="com.myapp.package"/>
            </intent-filter>
        </receiver>

        <!-- Layer's GCM Receiver and Service -->
        <receiver android:name="com.layer.sdk.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="950">
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.myapp.package"/>
            </intent-filter>
        </receiver>
        <service android:name="com.layer.sdk.services.GcmIntentService"/>

        <activity android:name="io.nucleos.npc.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="Conversations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:label="Chat"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>
